* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    /* outline: 1px solid limegreen; */
}
.hidden {
    display: none;
}
