# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

CLIENT/node_modules/
CLIENT/dist/
CLIENT/dist-ssr
CLIENT/*.local
CLIENT/.env
CLIENT/data

SERVER/node_modules/
SERVER/dist/
SERVER/dist-ssr
SERVER/*.local
SERVER/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
