.product-list .title {
    font-weight: 700;
    margin: 20px;
}
.product-list .filters {
    display: flex;
    justify-content: space-between;
}
.product-list .filter {
    margin: 20px;
    display: flex;
    align-items: center;
}
.product-list .filter .text {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}
.product-list .filter select {
    padding: 10px;
    margin-right: 20px;
}
@media (max-width: 380px) {
    .product-list .filter {
        margin: 0px 20px;
        flex: 1;
        flex-direction: column;
        align-items: normal;
    }
    .product-list .filter .text {
        margin-right: 0px;
    }
    .product-list .filter select {
        padding: 9px;
        margin: 10px 0;
    }
}
